body {
    background-color: white;
}

#divid {
    float: down;
}

.navitems
    nav {
  background-color: darkblue;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

nav li:nth-child(1) {
  background-color: skyblue;
  border-radius: 5px;
}

nav li:nth-child(2) {
  background-color: skyblue;
  border-radius: 5px;
}

nav li:nth-child(3) {
  background-color: skyblue;
  border-radius: 5px;
}

nav li:nth-child(4) {
  background-color: orange;
  border-radius: 5px;
}



nav:last-of-type {
  background-color: darkblue;
  padding: 10px;
  display: inline-block;
}
